* {
	text-align: center;
	overflow-wrap: break-word;
}

/**
 * Flecha de navegación
 */
#flecha_nav {
	display: block;
	width: 32px;
	height: 32px;
	position: fixed;
	right: 5%;
	top: 30px;
	z-index: 20;
}

/**
 * Menú desplegable (parte superior)
 */
.boton_menu {
	display: block;
	position: absolute;
	top: 7px;
	right: 7px;
	width: 35px;
	height: 35px;
	background-position: center center;
	background-size: 21px, 100%;
	border: 0 none;
	border-radius: 5px;
	z-index: 30;
}

.menu {
	display: none;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	float: none;
	height: 45px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: absolute;
	z-index: 20;
	clear: both;
}
.elem_menu {
	display: none;
	width: 100%;
}
.elem_menu a {
	display: block;
	width: 90%;
	padding: 10px 5%;
}
.menu.desplegado {
	display: block;
	height: auto;
	padding-top: 50px;
}
.menu.desplegado li {
	display: block;
}
/* Submenús (la clase .parent indica
un elemento del cual se despliegan otros) */
.parent {
        display: block;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
}
.parent:before {
	float: center;
	margin-right: 15px;
}
.contenido-desplegable {
	display: none;
	padding: 0;
	margin-top: 5px;
}
.parent a {
	padding: 10px 5%;
}
.parent:hover .contenido-desplegable {
	display: block;
}

/**
 * Panel con el contenido principal
 */
#principal {
	margin: 10px;
	margin-left: 15px;
}

/**
 * Panel con las secciones
 */
#boton_secc {
	position: fixed;
	top: 25%;
	left: -60px;
	width: 80px;
	height: 150px;
	border-radius: 100%;
	text-align: right;
	line-height: 145px;
	z-index: 10;
}

#secciones {
	display: block;
	position: fixed;
	min-width: 200px;
	height: 100%;
	top: 0px;
	left: -250px;
	z-index: 20;
	padding: 10px;
	text-align: center;
	overflow: auto;
}
#lista_secc {
	padding-left: 0px;
}

.elem_secc {
        padding-top: 15px;
        padding-bottom: 15px;
}

/**
 * Pie de la página
 */
#pie_pagina {
	width: auto;
	display: block;
	/* Se posiciona al final de la página */
	position: relative;
	bottom: 1vh;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 1vh;
	margin-top: 20px;
	padding-top: 10px;
}
.barra_bloque_pie {
	border: 0;
	width: 80%;
	height: 1px;
	margin: 10px;
	margin-left: 10%;
	margin-right: 10%;
}
