* {
	background-color: #111111;
	font-family: Roboto;
	color: #e0e0e0;
}

/**
 * Flecha de navegación
 */
#flecha_nav {
	opacity: 0;
	background-image: url('../../resources/icono-flecha.png');
	background-color: #000000;
}

/**
 * Menú desplegable (parte superior)
 */
.boton_menu {
	background-image: url('../../resources/icono-menu.png');
	background-color: #a0a0a0;
	background-repeat: no-repeat;

	border-bottom: 1px solid #555555;
	box-shadow: 0 0 4px #505050 inset;
}
.boton_menu:hover {
	background-color: #c0c0c0;
}
.boton_menu.desplegado {
	background-color: #606060;
}
.boton_menu.desplegado:hover {
	background-color: #808080;
}

.menu {
	box-shadow: 0 1px 2px #333333;
	list-style: none;
}

.menu,
.elem_menu,
.elem_menu a,
.parent {
	background: #202020;
}
.elem_menu:hover,
.elem_menu:hover a,
.parent:hover,
.contenido-desplegable,
.contenido-desplegable li,
.contenido-desplegable li a {
	background: #010101;
}
.contenido-desplegable li:hover,
.contenido-desplegable li:hover a {
	background: #202020;
}

.elem_menu {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px solid #000000;
	overflow-wrap: break-word;
}
.elem_menu a {
	text-decoration: none;
}

/*.elem_menu a:hover {
        border-top-color: transparent;
}*/

/* Submenús */
.parent {
	text-decoration: none;
	border-bottom: 1px solid #000000;
}
.elem_menu:hover,
.parent:hover,
.parent:hover .contenido-desplegable {
	border: 1px solid #505050;
}
.parent:hover .contenido-desplegable {
	list-style: none;
}
.parent:before {
	content: "\25BC"; /* Flecha hacia abajo */
	color: #f0f0f0;
}

.elem_menu:hover > a {
	border-bottom-color: transparent;
}

.contenido-desplegable li,
.contenido-desplegable a {
	border-bottom: 1px solid #303030;
	font-weight: normal;
}
.elem_menu:hover ul {
	border-top: 0 none;
}

/**
 * Panel con el contenido principal
 */
#principal {
	text-align: justify;
}
#principal > p {
	text-align: justify;
	text-indent: 50px;
}
/**
 * Panel con el contenido principal
 */
#boton_secc {
	color: #e0e0e0;
	border: 1px solid #707070;
}
#boton_secc:after {
	content: "\25b6";
}
#boton_secc.desplegado:after {
	content: "\25c0";
}

#secciones {
	overflow-wrap: break-word;
	color: #e0e0e0;
	font-family: Ubuntu;
	font-size: 20px;
}
#lista_secc {
	list-style: none;
}

.enlace_secc  {
	text-decoration: none;
}
.elem_secc {
	border-bottom: 1px solid #e0e0e0;
}
.prim_elem {
	border-top: 1px solid #e0e0e0;
}

/**
 * Pie de la página
 */
#pie_pagina {
	border: 1px solid #5f5f5f;
	text-align: center;
	overflow-wrap: break-word;
}
.barra_bloque_pie {
	background-image: linear-gradient(to right, #111111, #e0e0e0, #111111);
}
